# Objects.
.scons-cache/
*.os

elly_player_gdextension_windows/
elly_player_gdextension_linux/
elly_player_gdextension_native/
elly_player_gdextension_unreal/

# SConstruct
.sconf_temp
.sconsign.dblite
*.pyc

# MacOS
.DS_Store

x64/
bin/
libs/
VideoPlayer.dir/
FFmpeg/
godot-cpp/

# Editors
.vscode/
/SDL-main