# Objects.
.scons-cache/
*.os

GDExtensionTemplate-build/

# SConstruct
.sconf_temp
.sconsign.dblite
*.pyc

# MacOS
.DS_Store

x64/
bin/
VideoPlayer.dir/
FFmpeg/
godot-cpp/

# Editors
.vscode/
/SDL-main