# Objects.
.scons-cache/
*.os
CMakeFiles/
GDExtensionTemplate/
GDExtensionTemplate-build/

src/lib/ffmpeg.zip
src/lib/ffmpeg.tar.xz
src/lib/ffmpeg-linux64/
src/lib/ffmpeg-win64/

# SConstruct
.sconf_temp
.sconsign.dblite
*.pyc

# MacOS
.DS_Store

vs/
x64/
bin/
VideoPlayer.dir/
gen/
.cmake
.ninja_deps
.ninja_lock
.ninja_log
cmake_install.cmake
CMakeCache.txt
compile_commands.json
Makefile

# Editors
.vscode/
.idea
/SDL-main